@{
    ViewData["Title"] = "Contacto";
}

<body class="fConta">
    <div class="contact-section">
        <div class="contact-content">
            <img src="~/imagen/Logo.jpg" alt="Logo RadianteSonrisa" class="logo">
            <h1>Contacto</h1>
            <div class="contact-detail">
                <i class="fas fa-clinic-medical"></i>
                <p><strong>Clinica:</strong> RadianteSonrisa</p>
                </div>
            <div class="contact-info">
                <div class="contact-detail">
                    <i class="fas fa-map-marker-alt"></i>
                    <p><strong>Dirección:</strong> Barrio el carmen, Santa Rosa copan</p>
                </div>
                <div class="contact-detail">
                    <i class="fas fa-phone"></i>
                    <p><strong>Teléfono:</strong> 9878-2134</p>
                </div>
                
            </div>
        </div>
    </div>
</body>