
@{
    ViewData["Title"] = "Cita Agenda con exito";
}

<body class="imgGra">
    <h1 class="title">Su cita se agrego exitosamente</h1>
    <div class="centered-button">
        <span class="iconsave">
            <a class="btn btn-primary" asp-action="Index">
                <i class="fas fa-home"></i> Volver al inicio
            </a>
        </span>
    </div>
</body>


