@{
    ViewData["Title"] = "Login";
}

<body class="fondo2">

    <form id="loginForm" method="post" asp-action="Login">
        <h2 class="is-size-3" style="color:black; text-align: center">Login</h2>

        <p class="is-size-4" style="color:black; text-align: center">Solo personal autorizado</p>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" name="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" name="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-primary is-focused" type="submit">
                    Login
                </button>
            </p>
        </div>
    </form>
</body>